:root{
    --dark:#000;
    --main:#56595c;
    --fuente2:"Oswald",sans-serif;
}

*,*::after,*::before{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #111111;
}
img{
    max-width: 100%;
    object-fit: cover;
}
/* GENERAL */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    margin: .5rem 0;
    border-radius: 1.2rem;
    background: #111111;
    padding: .6rem 1.7rem;
    text-align: center;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    border: 2px transparent solid;
}
.btn:hover{
    background: #fff;
    color: #000;
    border: 2px #000 solid;
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
    background: #f5f5f5;
    min-height: 80vh;
    padding: 5.5rem 0;
}
.menu{
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    padding: .5rem;
    color: var(--main);
}
.menu .navbar ul{
    padding: 0;
    display: flex;
}
.menu .navbar ul a{
    margin: 0 .6rem;
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    font-weight: 500;
    color: #000;
}
.menu .navbar ul a::after{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--main);
    transition: width   .5s;
}
.menu .navbar ul a:hover:after{
    width: 100%;
}
.menu .navbar ul a:hover{
    color: var(--main);
}
.menu-icon-container{
    cursor: pointer;
    display: none;
}
.menu-icon{
    width: 1.2rem;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    backdrop-filter: blue(10px);
    top: 100%;
    z-index: 99;
    background-color: #4e4b5076;
    padding: 1rem;
    min-width: 25rem;
}

table{
    width: 100%;
}
th,td{
    color: white;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 5rem;
}
.header-content-img,
.header-content-txt{
    flex-basis: 50%;
    text-align: center;
}
.header-content-txt h1{
    font-size: 4.4rem;
    text-transform: uppercase;
    font-family: var(--fuente2);
    margin-bottom: .9rem;
}
.header-content-txt p{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}
/* OFERT */
.ofert{
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ofert>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-basis: calc(33.3% - 1rem);
    background: #f5f5f5;
    padding: 1.8rem;
    margin: 1rem 0;
    min-width: 380px;
}
.ofert>div .ofert-img{
    flex-basis: 60%;
}
.ofert-txt{
    flex-basis: 40%;
    text-align: center;
}
.ofert-txt h3{
    font-family: var(--fuente2);
    font-size: 1.4rem;
    margin-bottom: .7rem;
    text-transform: uppercase;
}

/* PRODUCTOS */
.products{
    padding: 4rem 0;
}
.products h2{
    text-align: center;
    font-size: 3rem;
    color: var(--main);
    margin: 2rem 0;
    font-family: var(--fuente2);
    text-transform: uppercase;
}

.products-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 0 1rem;
}
.product{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.product img{
    width: 15rem;
    height: 23rem;
    object-fit: contain;
    margin-bottom: 1rem;
}
.product h3{
    font-size: 1.3rem;
    color: #000;
    font-family: var(--fuente2);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.product p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.precio{
    font-weight: 800;
}

.icons{
    font-size: 1rem;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}
.icons>div{
    border-radius: .4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f5f5f5;
    flex-basis: calc(33.3% - 2rem);
    padding: 1rem;
}
.icon-txt h3{
    font-size: 1.2rem;
    font-family: var(--fuente2);
    text-transform: uppercase;
}

.icon-txt p{
    padding-top: 1rem;
    font-size: .8rem;
}
.icon-img{
    width: 4.5rem;
}


/* BLOG */

.blog{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    padding: 0 1rem 5rem 1rem;
}
.blog>div{
    width: 100%;
}
.blog>div h3{
    font-size: 1.4rem;
    padding: .8rem 0;
    font-family: var(--fuente2);
    text-transform: uppercase;
}

.footer{
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
}

.footer-content{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.link h3{
    font-size: 1.3rem;
    font-family: var(--fuente2);
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.link>div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.link a{
    font-size: 1rem;
    color: #fff;

}


















@media (max-width: 768px){
    .header .navbar{
        display: none;
    }
    .header .menu-icon-container{
        display: block;
    }
    .products-content{
        grid-template-columns: repeat(2,1fr);
    }
    .blog{
        flex-direction: column;
        padding: 0 2rem;
    }
}
@media (max-width: 400px){
    .products-content{
        grid-template-columns: 1fr;
    }
    .ofert{
        gap: 2rem;
    }
    .ofert>div{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .ofert>div img{
        max-width: 10rem ;
    }
}